<header>
    <ul><h3>MY EXPENSE TRANSACTIONS</h3></ul>
    <ul>
        <li><a href="/transactions">Home</a></li>
        <li><a href="/transactions/new">Add New Transaction</a></li>
        <li><a href="/transactions/report">Report</a></li>
    </ul>
</header>