<ul class="right">
    <% if (currentUser) { %>
    <li>Welcome <%= currentUser.username %></li>&nbsp;&nbsp;
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" class="fa-solid fa-sign-out" value="&#xf08b;" title="LOGOUT"/>
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>