<select name="category" id="category">
    <option value="advertising">Advertising</option>
    <option value="meals">Business meals</option>
    <option value="travel">Business Travel</option>
    <option value="Commissions">Commissions and Fees</option>
    <option value="legal">Legal</option>
    <option value="licenses">Licenses and Fees</option>
    <option value="office_supplies">Office Supplies</option>
    <option value="parking">Parking Tolls</option>
    <option value="utilities">Utilities</option>
</select>