<select name="category" id="category">
    <option value="Advertising">Advertising</option>
    <option value="Business meals">Business meals</option>
    <option value="Business Travel">Business Travel</option>
    <option value="Commissions and Fees">Commissions and Fees</option>
    <option value="Insurance">Insurance</option>
    <option value="Legal">Legal</option>
    <option value="Licenses and Fees">Licenses and Fees</option>
    <option value="Office Supplies">Office Supplies</option>
    <option value="Office Expenses" selected>Office Expenses</option>
    <option value="Other Expenses">Other Expenses</option>
</select>