body {
    background: url('pexels-numbers.jpg') no-repeat center center/ cover;
    height: 100vh;
    position: relative;
}
header {
    margin-bottom: 2em;
  }
  header ul {
    margin: 0;
    display: flex;
    align-items: center;
  }
  header li {
    font-family: 'Montserrat', helvetica;
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 1em;
    text-transform: uppercase;
  }
  header li a {
    color: black;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    display: flex;
    flex-direction: column;
  }
  table, th, tr, td {
    border:1px solid black;
   }
  h4 {
    text-align: center;
  }

  .but-sol{
    background-color: grey;
    text-align: center;
    color: beige;

  }
  
